body {
  box-sizing: border-box;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, auto);
  margin-left: 5%;
}
#cards {
  margin-left: 60px;
  margin-bottom: 20px;
}
#message-container {
  margin-bottom: 4em;
  margin-top: 2em;
}
#login {
  font-size: 17px;
}

